body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #0D86E4;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.block {
  color: white;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.brown {
  background-color: brown;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

.gold {
  background-color: gold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; /* center? */
  align-content: space-around; /* space-around? */
  width: 490px;
  height: 490px;
  background-color: black;
  margin: 75px 400px 75px 400px;
}

.flex-box {
  width: 100px;
  height: 100px;
}


